
logs-Tacotron/.DS_Store
logs-Tacotron/taco_pretrained/.DS_Store
logs-Tacotron/taco_pretrained/checkpoint
logs-Tacotron/taco_pretrained/tacotron_model.ckpt-5000.data-00000-of-00001
logs-Tacotron/taco_pretrained/tacotron_model.ckpt-5000.index
logs-Tacotron/taco_pretrained/tacotron_model.ckpt-5000.meta
saved_model/.DS_Store
saved_model/1/saved_model.pb
saved_model/1/variables/variables.data-00000-of-00001
saved_model/1/variables/variables.index
tacotron/__pycache__/__init__.cpython-36.pyc
tacotron/__pycache__/synthesizers.cpython-36.pyc
tacotron/models/__pycache__/__init__.cpython-36.pyc
tacotron/models/__pycache__/Architecture_wrappers.cpython-36.pyc
tacotron/models/__pycache__/attention.cpython-36.pyc
tacotron/models/__pycache__/custom_decoder.cpython-36.pyc
tacotron/models/__pycache__/helpers.cpython-36.pyc
tacotron/models/__pycache__/modules.cpython-36.pyc
tacotron/models/__pycache__/tacotron.cpython-36.pyc
tacotron/synthesizers.py
tacotron/utils/__pycache__/__init__.cpython-36.pyc
tacotron/utils/__pycache__/cleaners.cpython-36.pyc
tacotron/utils/__pycache__/cmudict.cpython-36.pyc
tacotron/utils/__pycache__/numbers.cpython-36.pyc
tacotron/utils/__pycache__/plot.cpython-36.pyc
tacotron/utils/__pycache__/symbols.cpython-36.pyc
tacotron/utils/__pycache__/text.cpython-36.pyc
